<% if @teacher.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger fade in">
      <%= pluralize(@teacher.errors.count, "error") %> were detected in the form.
    </div>
    <ul>
    <% @teacher.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>